.venv/*
*.csv
*.pyc
__pycache__/
*.py[cod]
secrets_git_luisa.py
src/archive/*
# src/cleans/__pycache__/*
*.json
*.exe
*.zip
*.feather
*/kmeans.pkl
*/kmeans_vectorizer.pkl
*.parquet
!setup.cfg
!setup.py
