.venv/*
*.csv
*.pyc
__pycache__/
*.py[cod]
secrets_git_luisa.py
src/archive/*
# src/cleans/__pycache__/*
*.json
*.exe
*.zip
*.feather
!Seed*
!files/03_label/k_Means/*
models/classification/pytorch_tuning_de/*
models/classification/pytorch_tuning_en/*
models/label/model_tuning_de/*
!models/label/model_tuning_de/automated_labeling_de.log
models/label/model_tuning_en/*
!models/label/model_tuning_en/automated_labeling_en.log
*.parquet
!setup.cfg
!setup.py
src/url_scrape/url_scrape/spiders/__pycache__/__init__.cpython-39.pyc
src/url_scrape/url_scrape/__pycache__/__init__.cpython-39.pyc
src/url_scrape/url_scrape/spiders/__pycache__/seeder.cpython-39.pyc
src/url_scrape/url_scrape/__pycache__/__init__.cpython-39.pyc
src/url_scrape/url_scrape/spiders/__pycache__/__init__.cpython-39.pyc
src/url_scrape/url_scrape/spiders/__pycache__/seeder.cpython-39.pyc
