.venv/*
*.csv
*.pyc
__pycache__/
*.py[cod]
secrets_git_luisa.py
src/archive/*
# src/cleans/__pycache__/*
*.json
*.exe
*.zip
*.feather
models/*
*.parquet
!setup.cfg
!setup.py
src/url_scrape/url_scrape/spiders/__pycache__/__init__.cpython-39.pyc
src/url_scrape/url_scrape/__pycache__/__init__.cpython-39.pyc
src/url_scrape/url_scrape/spiders/__pycache__/seeder.cpython-39.pyc
